/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: varela;
  src: url('VarelaRound-Regular.ttf');
}
.outter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.inner-container {
  width: 1400px;
}
.ra {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  width: 100%;
  align-items: flex-start;
  align-items: center;
}
.rar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
}
.ral {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  align-content: center;
  align-items: center;
}
.rb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.rb-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.ca {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.cal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  padding: 1rem;
}
.cbl {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding: 1rem;
}
.cbl2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding: 0px;
}
.cbl3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  padding: 0px;
}
.cb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
}
.hor-block {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}
.main-container {
  padding: 2rem;
  width: 100%;
  background-color: #f8f9fd;
  min-height: 700px;
}
.footer {
  margin-top: 50px;
  background-color: #f7f7f7;
  height: 400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #dddddd;
}
.abs {
  position: absolute;
  top: 0px;
}
.rel {
  position: relative;
}
* {
  box-sizing: border-box;
}
body {
  font-family: varela;
  font-size: rem(16px);
  margin: 0;
  color: #383874;
  background-color: #d7ddf8;
}
::selection {
  background-color: #ce2e6c;
  color: #fff;
}
html {
  font-family: varela;
  overflow-y: scroll;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: varela;
}
h1 {
  font-size: rem(48px);
  color: #383874;
  margin: 0;
}
h6 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
  letter-spacing: 0.15px;
}
.small-text {
  height: 17px;
  font-family: varela;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  text-align: left;
  color: #8787ab;
}
p {
  margin: 0 0 0em;
}
p a {
  color: #000000;
  text-decoration: underline;
}
.input {
  height: 2rem;
  background-color: #f6f6f6;
  border: 1px solid #d6d6d6;
  margin-right: 1rem;
  padding: 0.5rem;
}
a {
  color: #050035;
  text-decoration: none;
}
a.visited {
  color: #00ff00;
}
.active {
  color: #5c46f9;
  text-decoration: none;
}
.seperator {
  height: 1px;
  width: 100%;
  background-color: #190e77;
}
.btn-del {
  border: 0px solid #ff020200;
  color: #ffffff;
  border-radius: 50px;
  background-color: #b9b9b9;
  padding-right: 1rem;
  padding-left: 1rem;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 31px;
  margin-right: 1rem;
  outline: none;
}
.btn2 {
  border: 0px solid #ff020200;
  color: #ffffff;
  border-radius: 50px;
  background-color: #2b8ed0;
  padding-right: 1rem;
  padding-left: 1rem;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 31px;
  margin-right: 1rem;
  outline: none;
}
.btn2:hover {
  background-color: #1069a5;
}
.btn-update {
  margin-left: 1rem;
  border: 0px solid #ff020200;
  color: #ffffff;
  border-radius: 50px;
  background-color: #ffa600;
  padding-right: 1rem;
  padding-left: 1rem;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 31px;
  margin-right: 1rem;
  outline: none;
}
.btn-update:hover {
  background-color: #e68e00;
}
.btn-add {
  margin-left: 1rem;
  border: 0px solid #ff020200;
  color: #ffffff;
  border-radius: 50px;
  background-color: #00ca00;
  padding-right: 1rem;
  padding-left: 1rem;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 31px;
  margin-right: 1rem;
}
.btn-add:hover {
  background-color: #00b109;
}
.btn-del:hover {
  background-color: #dd0000;
}
.lnk-btn {
  cursor: pointer;
}
.movie-strip {
  border-bottom: 1px solid #ffffff;
  height: 3rem;
}
.h-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.movie-title {
  display: flex;
  flex-direction: row;
  width: 40%;
}
.movie-id {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  width: 10rem;
  font-size: 0.7rem;
}
.add-button-col {
  display: flex;
  flex-direction: row;
  width: 7rem;
  align-content: center;
  align-items: center;
}
.search-bar {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  align-content: center;
}
.page-general {
  padding-left: 1rem;
}
.nav-bar {
  height: 100px;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}
.nav-bar li {
  list-style-type: none;
}
.nav-bar a {
  color: #383874;
}
.nav-btn {
  color: #114199;
}
.active-cell {
  text-decoration: underline;
}
.inactive-cell {
  text-decoration: none;
}

/*# sourceMappingURL=styles.css.map*/